{
  "client_rb": "chef_server_url  \"https://chef.steamdriven.net/organizations/steamdriven\"\nvalidation_client_name   \"steamdriven-validator\"\nvalidation_key    \"https://chefresources.blob.core.windows.net/bootstrap/steamdriven-validator.pem\"",
  "runlist":"role[all-nodes]",
  "autoUpdateClient":"true",
  "deleteChefConfig":"false",
  "bootstrap_options": {
    "chef_server_url":"https://chef.steamdriven.net/organizations/steamdriven",
    "validation_client_name":"steamdriven-validator"
  }
}
